/* ============================================= */
/*              Buttons                          */
/* ============================================= */
@import '../utilities/variables';
@import '../utilities/mixin';

* {
    font-family: 'Lato', sans-serif;
    color: #777;
    box-sizing: border-box;
}

p {
    line-height: 1.45em;
}

a {
    text-decoration: none;
}

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;

    @include media-querie ('md') {
        padding: 10px 30px;

        &+.btn {
            margin-left: 10px;
        }
    }
}
  
@each $name, $color in $button-colors {
    .#{$name} {
        background-color: #{$color};

        &:hover {
            background-color: lighten($color, 15%);
        }
    }
  }