/* ============================================= */
/*              Grid System                      */
/* ============================================= */
@import '../utilities/variables';
@import '../utilities/mixin';

//* New Code*//
.container {
    padding: 0 10px;
    @include media-querie('md') {
        max-width: 1400px;
        @include align-center;
    }
}
 
.centered{
    @include media-querie('md') {
            @include align-center;
    }
}
.row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
    @include media-querie('md') {
        flex-direction: row;
    }
}
  
[class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @include media-querie('md'){
        display: flex;
        justify-content: center;
        margin-top: 0;
        align-items: center;

        &+[class^=col] {
            margin-left: 10px;
        }
    }
}
  
@each $number, $color in $theme-colors {
    .theme.col-#{$number} {
      background-color: #{$color};
    }
}

.card {
    flex-basis: 100%;
}

@include media-querie('md') {
    @include generate-columns();
}